@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;

}

h4,
h5,
h6,
p {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #28A745;
}

nav a img {
    width: 150px;
}

nav .navbar-collapse {
    justify-content: end;
}

nav .navbar-collapse a {
    color: white
}

.card .direction {
    display: flex;

}

.card .direction i {
    display: flex;
    padding-right: 5px;

}

.card .price {
    display: flex;
    justify-content: end;
    padding-right: 5px;
}

.card .price h4 {
    color: gray;
    padding-right: 10px;
    padding-top: 5px;
    text-decoration: line-through
}

.card .price h2 {
    color: #28A745;

}

form {
    background-color: #28A745;
    color: white;
    padding: 20px;

}

footer {
    text-align: center;
}

footer img {
    width: 100px;
}